@using MambaMVC.ViewModels.Account
@model RegisterVM


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Register</h4>

            <form class="forms-sample" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly">     </div>


                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Surname">Surname</label>
                    <input asp-for="Surname" type="text" placeholder="Surname">
                    <span class="text-danger" asp-validation-for="Surname"></span>
                </div>


                <div class="form-group">
                    <label asp-for="UserName">UserName</label>
                    <input asp-for="UserName" type="text" placeholder="UserName">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="text" placeholder="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="text" placeholder="Password">
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ConfrimPassword">Confrim Password</label>
                    <input asp-for="ConfrimPassword" type="text" placeholder="ConfrimPassword">
                    <span class="text-danger" asp-validation-for="ConfrimPassword"></span>
                </div>



                <button type="submit" class="btn btn-primary me-2">Register</button>
                <button class="btn btn-light">Cancel</button>

            </form>
        </div>
    </div>
</div>
